# North Carolina Climate Trends

In [204]:
import pandas as pd
import numpy as np
import path

In [205]:
pd.set_option('display.max_columns', None)

## NC Temperture Data

**TEMPERATURE DATASET: North Carolina Average Temperature by Season and Year (1980 - 2023)** \
_Temperature data acquired from North Carolina State Climate Office SE Climate Trend Analysis Tool \
Original data from NOAA Monthly U.S. Climate Divisional Database (NClimDiv) \
Documentation available at: https://public.tableau.com/app/profile/north.carolina.state.climate.office/viz/SEClimateTrendAnalysisTool/TrendAnalysisTool_

In [206]:
# Reads in NC temperture datasets
avgtemp_annual = pd.read_csv("Resources/State Trend Avg Temp Data_Full Data_data (annual).csv", parse_dates=True)
avgtemp_winter = pd.read_csv("Resources/State Trend Avg Temp Data_Full Data_data (winter DJF).csv", parse_dates=True)
avgtemp_spring = pd.read_csv("Resources/State Trend Avg Temp Data_Full Data_data (spring MAM).csv", parse_dates=True)
avgtemp_summer = pd.read_csv("Resources/State Trend Avg Temp Data_Full Data_data (summer JJA).csv", parse_dates=True)
avgtemp_fall = pd.read_csv("Resources/State Trend Avg Temp Data_Full Data_data (fall SON).csv", parse_dates=True)

In [207]:
# Removes unnecessary columns and rows and sorts data by year
avgtemp_annual = avgtemp_annual.drop(columns=['State', 'Stations',
       'Table Name', 'State Trend Sign', 'Max State Year', 'Min State Year', 'Raw Data',
        'State Non-Null Years','State Trends'], axis=1)
avgtemp_annual.dropna(axis=0, inplace=True)
avgtemp_annual.sort_values("Year", ascending=True, ignore_index=True, inplace=True)

avgtemp_winter = avgtemp_winter.drop(columns=['State', 'Stations',
       'Table Name', 'State Trend Sign', 'Max State Year', 'Min State Year', 'Raw Data',
        'State Non-Null Years','State Trends'], axis=1)
avgtemp_winter.dropna(axis=0, inplace=True)
avgtemp_winter.sort_values("Year", ascending=True, ignore_index=True, inplace=True)

avgtemp_spring = avgtemp_spring.drop(columns=['State', 'Stations',
       'Table Name', 'State Trend Sign', 'Max State Year', 'Min State Year', 'Raw Data',
        'State Non-Null Years','State Trends'], axis=1)
avgtemp_spring.dropna(axis=0, inplace=True)
avgtemp_spring.sort_values("Year", ascending=True, ignore_index=True, inplace=True)

avgtemp_summer = avgtemp_summer.drop(columns=['State', 'Stations',
       'Table Name', 'State Trend Sign', 'Max State Year', 'Min State Year', 'Raw Data',
        'State Non-Null Years','State Trends'], axis=1)
avgtemp_summer.dropna(axis=0, inplace=True)
avgtemp_summer.sort_values("Year", ascending=True, ignore_index=True, inplace=True)

avgtemp_fall = avgtemp_fall.drop(columns=['State', 'Stations',
       'Table Name', 'State Trend Sign', 'Max State Year', 'Min State Year', 'Raw Data',
        'State Non-Null Years','State Trends'], axis=1)
avgtemp_fall.dropna(axis=0, inplace=True)
avgtemp_fall.sort_values("Year", ascending=True, ignore_index=True, inplace=True)

In [208]:
display(avgtemp_annual.head(5))
display(avgtemp_winter.head(5))
display(avgtemp_spring.head(5))
display(avgtemp_summer.head(5))
display(avgtemp_fall.head(5))

  Time Frame  Year  Dynamic State Trend  State Data  State Trend Magnitude
0     Annual  1980                 0.06        57.9                  0.057
1     Annual  1981                 0.06        57.2                  0.057
2     Annual  1982                 0.06        58.6                  0.057
3     Annual  1983                 0.06        57.8                  0.057
4     Annual  1984                 0.06        58.6                  0.057

     Time Frame  Year  Dynamic State Trend  State Data  State Trend Magnitude
0  Winter (DJF)  1980                 0.09       39.70                  0.088
1  Winter (DJF)  1981                 0.09       38.87                  0.088
2  Winter (DJF)  1982                 0.09       39.00                  0.088
3  Winter (DJF)  1983                 0.09       42.00                  0.088
4  Winter (DJF)  1984                 0.09       40.40                  0.088

     Time Frame  Year  Dynamic State Trend  State Data  State Trend Magnitude
0  Spring (MAM)  1980                 0.06       57.07                  0.059
1  Spring (MAM)  1981                 0.06       57.03                  0.059
2  Spring (MAM)  1982                 0.06       58.27                  0.059
3  Spring (MAM)  1983                 0.06       56.27                  0.059
4  Spring (MAM)  1984                 0.06       55.83                  0.059

     Time Frame  Year  Dynamic State Trend  State Data  State Trend Magnitude
0  Summer (JJA)  1980                 0.04       76.13                  0.037
1  Summer (JJA)  1981                 0.04       75.97                  0.037
2  Summer (JJA)  1982                 0.04       74.53                  0.037
3  Summer (JJA)  1983                 0.04       75.87                  0.037
4  Summer (JJA)  1984                 0.04       74.93                  0.037

   Time Frame  Year  Dynamic State Trend  State Data  State Trend Magnitude
0  Fall (SON)  1980                 1.99       59.30                   1.99
1  Fall (SON)  1981                 1.99       57.73                   1.99
2  Fall (SON)  1982                 1.99       59.37                   1.99
3  Fall (SON)  1983                 1.99       59.87                   1.99
4  Fall (SON)  1984                 1.99       59.93                   1.99

## NC Precipitation Data

**PRECIPITATION DATASET: North Carolina Precipitation by Season and Year (1980 - 2023)** \
_Precipitation data acquired from North Carolina State Climate Office SE Climate Trend Analysis Tool \
Original data from NOAA Monthly U.S. Climate Divisional Database (NClimDiv) \
Documentation available at: https://public.tableau.com/app/profile/north.carolina.state.climate.office/viz/SEClimateTrendAnalysisTool/TrendAnalysisTool_

In [209]:
# Reads in NC precipitation datasets
precip_annual = pd.read_csv("Resources/State Trend Precipitation Data_Full Data_data (annual).csv", parse_dates=True)
precip_winter = pd.read_csv("Resources/State Trend Precipitation Data_Full Data_data (winter DJF).csv", parse_dates=True)
precip_spring = pd.read_csv("Resources/State Trend Precipitation Data_Full Data_data (spring MAM).csv", parse_dates=True)
precip_summer = pd.read_csv("Resources/State Trend Precipitation Data_Full Data_data (summer JJA).csv", parse_dates=True)
precip_fall = pd.read_csv("Resources/State Trend Precipitation Data_Full Data_data (fall SON).csv", parse_dates=True)

In [210]:
# Removes unnecessary columns and rows and sorts data by year
precip_annual=precip_annual.drop(columns=['State', 'Stations',
       'Table Name', 'State Trend Sign', 'Max State Year', 'Min State Year', 'Raw Data',
        'State Non-Null Years','State Trends'], axis=1)
precip_annual.sort_values("Year", ascending=True, ignore_index=True, inplace=True)


precip_winter=precip_winter.drop(columns=['State', 'Stations',
       'Table Name', 'State Trend Sign', 'Max State Year', 'Min State Year', 'Raw Data',
        'State Non-Null Years','State Trends'], axis=1)
precip_winter.sort_values("Year", ascending=True, ignore_index=True, inplace=True)


precip_spring=precip_spring.drop(columns=['State', 'Stations',
       'Table Name', 'State Trend Sign', 'Max State Year', 'Min State Year', 'Raw Data',
        'State Non-Null Years','State Trends'], axis=1)
precip_spring.sort_values("Year", ascending=True, ignore_index=True, inplace=True)


precip_summer=precip_summer.drop(columns=['State', 'Stations',
       'Table Name', 'State Trend Sign', 'Max State Year', 'Min State Year', 'Raw Data',
        'State Non-Null Years','State Trends'], axis=1)
precip_summer.sort_values("Year", ascending=True, ignore_index=True, inplace=True)


precip_fall=precip_fall.drop(columns=['State', 'Stations',
       'Table Name','State Trend Sign',  'Max State Year', 'Min State Year', 'Raw Data',
        'State Non-Null Years','State Trends'], axis=1)
precip_fall.sort_values("Year", ascending=True, ignore_index=True, inplace=True)

In [211]:
display(precip_annual.head(5))
display(precip_winter.head(5))
display(precip_spring.head(5))
display(precip_summer.head(5))
display(precip_fall.head(5))

,Time Frame,Year,State Data,State Percent Change,State Trend Line,State Trend Line Intercept
0,Annual,1979,58.73,0.32,47.086436,-247.625206
1,Annual,1980,44.31,0.32,47.235356,-247.625206
2,Annual,1981,40.76,0.32,47.384275,-247.625206
3,Annual,1982,52.16,0.32,47.533195,-247.625206
4,Annual,1983,52.87,0.32,47.682114,-247.625206

,Time Frame,Year,State Data,State Percent Change,State Trend Line,State Trend Line Intercept
0,Winter (DJF),1979,15.08,0.04,11.110147,2.436081
1,Winter (DJF),1980,7.82,0.04,11.114530,2.436081
2,Winter (DJF),1981,6.71,0.04,11.118913,2.436081
3,Winter (DJF),1982,16.27,0.04,11.123297,2.436081
4,Winter (DJF),1983,13.84,0.04,11.127680,2.436081

,Time Frame,Year,State Data,State Percent Change,State Trend Line,State Trend Line Intercept
0,Spring (MAM),1979,15.17,0.11,11.786474,-12.734056
1,Spring (MAM),1980,14.78,0.11,11.798864,-12.734056
2,Spring (MAM),1981,8.98,0.11,11.811254,-12.734056
3,Spring (MAM),1982,10.22,0.11,11.823645,-12.734056
4,Spring (MAM),1983,16.14,0.11,11.836035,-12.734056

,Time Frame,Year,State Data,State Percent Change,State Trend Line,State Trend Line Intercept
0,Summer (JJA),1979,12.92,0.37,13.654602,-86.827836
1,Summer (JJA),1980,10.00,0.37,13.705376,-86.827836
2,Summer (JJA),1981,15.68,0.37,13.756151,-86.827836
3,Summer (JJA),1982,15.21,0.37,13.806925,-86.827836
4,Summer (JJA),1983,9.16,0.37,13.857699,-86.827836

,Time Frame,Year,State Data,State Percent Change,State Trend Line,State Trend Line Intercept
0,Fall (SON),1979,17.71,0.74,10.578851,-144.35838
1,Fall (SON),1980,11.10,0.74,10.657142,-144.35838
2,Fall (SON),1981,6.65,0.74,10.735432,-144.35838
3,Fall (SON),1982,10.62,0.74,10.813723,-144.35838
4,Fall (SON),1983,11.65,0.74,10.892014,-144.35838

## Combined NC Weather Data

In [212]:
# Adds temperatre columns to weather df for avg, winter, spring, summer and fall precipitation values
wx_df['Annual avgtemp'] = avgtemp_annual['State Data']
wx_df['Winter avgtemp'] = avgtemp_winter['State Data']
wx_df['Spring avgtemp'] = avgtemp_spring['State Data']
wx_df['Fall avgtemp'] = avgtemp_fall['State Data']
wx_df['Summer avgtemp'] = avgtemp_summer['State Data']

wx_df.head(5)

,Year,Annual avgtemp,Winter avgtemp,Spring avgtemp,Fall avgtemp,Summer avgtemp,Annual precip,Winter precip,Spring precip,Fall precip,Summer precip
0,1980,57.9,39.70,57.07,59.30,76.13,58.73,15.08,15.17,17.71,12.92
1,1981,57.2,38.87,57.03,57.73,75.97,44.31,7.82,14.78,11.10,10.00
2,1982,58.6,39.00,58.27,59.37,74.53,40.76,6.71,8.98,6.65,15.68
3,1983,57.8,42.00,56.27,59.87,75.87,52.16,16.27,10.22,10.62,15.21
4,1984,58.6,40.40,55.83,59.93,74.93,52.87,13.84,16.14,11.65,9.16

In [213]:
# Adds precipitation columns to weather df for avg, winter, spring, summer and fall precipitation values
wx_df['Annual precip'] = precip_annual['State Data']
wx_df['Winter precip'] = precip_winter['State Data']
wx_df['Spring precip'] = precip_spring['State Data']
wx_df['Fall precip'] = precip_fall['State Data']
wx_df['Summer precip'] = precip_summer['State Data']

display(wx_df.head(5))

,Year,Annual avgtemp,Winter avgtemp,Spring avgtemp,Fall avgtemp,Summer avgtemp,Annual precip,Winter precip,Spring precip,Fall precip,Summer precip
0,1980,57.9,39.70,57.07,59.30,76.13,58.73,15.08,15.17,17.71,12.92
1,1981,57.2,38.87,57.03,57.73,75.97,44.31,7.82,14.78,11.10,10.00
2,1982,58.6,39.00,58.27,59.37,74.53,40.76,6.71,8.98,6.65,15.68
3,1983,57.8,42.00,56.27,59.87,75.87,52.16,16.27,10.22,10.62,15.21
4,1984,58.6,40.40,55.83,59.93,74.93,52.87,13.84,16.14,11.65,9.16

## Drought Conditions

**DROUGHT DATASET: North Carolina Drought Monitor Catagories by Week (2000 - 2024)** \
_Dataset shows percent of state of NC (by land area) that falls into each US Drought Monitor Catagory \
each week, ranging from None - Neither wet nor drive to D4 - Exceptional Drought\
Documentation available at: https://www.drought.gov/historical-information?dataset=0&selectedDateUSDM=20240813&state=North-Carolina_

In [214]:
drought_df = pd.read_csv("Resources/NC-drought-2000-2024.csv", date_format="%d/%m/%Y", parse_dates=True)

In [215]:
# Convert MapDate to datetime and year format
drought_df['Year'] = pd.to_datetime(drought_df['MapDate'], format='%Y%m%d').dt.year

# Converts dates to datetime data types
drought_df['Week Start'] = pd.to_datetime(drought_df['ValidStart'])
drought_df['Week End'] = pd.to_datetime(drought_df['ValidEnd'])


drought_df = drought_df.drop(columns=['MapDate','StatisticFormatID', 'StateAbbreviation', 'ValidStart', 'ValidEnd'], axis=1)
new_order = ['Year', 'Week Start', 'Week End', 'None', 'D0-Abnormally Dry', 
             'D1-Moderately Dry', 'D2-Severe Drought', 'D3-Extreme Drought', 
             'D4-Exceptional Drought']
drought_df = drought_df.reindex(columns=new_order)

In [217]:
display(drought_df.head(5))

,Year,Week Start,Week End,None,D0-Abnormally Dry,D1-Moderately Dry,D2-Severe Drought,D3-Extreme Drought,D4-Exceptional Drought
0,2024,2024-08-13,2024-08-19,88.83,11.17,0.00,0.00,0.00,0.0
1,2024,2024-08-06,2024-08-12,71.20,28.80,2.40,0.00,0.00,0.0
2,2024,2024-07-30,2024-08-05,55.55,44.45,6.11,0.32,0.00,0.0
3,2024,2024-07-23,2024-07-29,22.20,77.80,26.25,3.58,0.00,0.0
4,2024,2024-07-16,2024-07-22,1.50,98.50,68.46,21.29,1.34,0.0